<nav class="#0d47a1 blue darken-4">
  <div class="nav-wrapper">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <a routerLink="/inicio" class="brand-logo"><img src="../../../assets/img/serviteca.jpg" alt="Serviteca>" width="130px"></a>
    <img src="../../../assets/img/serviteca.jpg" alt="Serviteca>" width="100px">
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i>menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a routerLink="/carros">Carros</a></li>
      <li><a routerLink="/clientes">Clientes</a></li>
      <li><a routerLink="/servicios">Servicios</a></li>
      <li><a routerLink="/ventas">Ventas</a></li>
      <li><a routerLink="/seguridad/login">Iniciar sesión</a></li>
      <li><a routerLink="/seguridad/logout">Cerrar sesión</a></li>
    </ul>
  </div>
</nav>