<div class="section container">
  <div class="card-action #0d47a1 #1565c0 blue darken-3 white-text ">
    <h3>Actualizar Carro</h3>
  </div>
  <div class="row">
    <form [formGroup]="fgValidator" class="col s12">
      <input type="hidden" id="id" formControlName="id">
      <div class="row card-panel">

        <div class="form-field col s6">
          <label for="placa">Placa</label>
          <input type="text" placeholder="placa" id="placa" formControlName="placa" class="validate" required>
        </div>

        <div class="form-field col s6">
          <label for="color">Color</label>
          <input type="text" id="color" formControlName="color" class="validate" required>
        </div>

        <div class="form-field col s6">
          <label for="marca">Marca</label>
          <input type="text" id="marca" formControlName="marca" class="validate" required>
        </div>

        <div class="form-field col s6">
          <label for="modelo">Modelo</label>
          <input type="text" id="modelo" formControlName="modelo" class="validate" required>
        </div>

        <div class="form-field col s6">
          <label for="anio">Año</label>
          <input type="text" id="anio" formControlName="anio" class="validate" required>
        </div><br>

        <div class="form-field col s6">
          <label for="imagen">Imagen</label>
          <input type="text" id="imagen" formControlName="imagen" class="validate" required>
        </div><br>

        <button [disabled]="!fgValidator.valid" (click)="actualizarCarro()" class="btn-large" style="width:100%;">
          Actualizar
        </button>

      </div>
    </form>
  </div>
</div>